# sotodlib requirements
numpy==1.22
setuptools>=48
so3g
pixell
skyfield
toml
pyfftw
autopep8

# toast
toast-cmb
mpi4py

# sa
iminuit>=2
statsmodels

# jupyter
ipykernel
jupyterlab
ipywidgets
ipympl

# etc
pandas
tables
pysqlite-binary #failed to install pysqlite3
#pymaster
pymc
camb
joblib
lru_cache
cython
natsort
numba
