###### Requirements without Version Specifiers ######
toast-cmb
#mpi4py

# sotodlib requirements
so3g
pixell
skyfield
toml
pyfftw

# jupyter
ipykernel
jupyterlab
ipywidgets
ipympl

# etc
numba
pysqlite3

###### Requirements with Version Specifiers ######
iminuit>=2
